<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeWorkTracking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <TimeWorkTracking.Properties.Settings>
            <setting name="twtServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="twtDatabase" serializeAs="String">
                <value>TimeWorkTracking</value>
            </setting>
            <setting name="twtLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="twtPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="pacsHost" serializeAs="String">
                <value>http://localhost:40001</value>
            </setting>
            <setting name="pascLogin" serializeAs="String">
                <value>web_api_read</value>
            </setting>
            <setting name="pacsPassword" serializeAs="String">
                <value>ric</value>
            </setting>
            <setting name="twtAuthenticationDef" serializeAs="String">
                <value>Windows Autentification</value>
            </setting>
            <setting name="twtConnectionSrting" serializeAs="String">
                <value />
            </setting>
            <setting name="pacsConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="importUserRange" serializeAs="String">
                <value>Reference$B3:J68</value>
            </setting>
            <setting name="importPassRange" serializeAs="String">
                <value>DataBase$B6:T56213</value>
            </setting>
            <setting name="importFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="adminPass" serializeAs="String">
                <value />
            </setting>
            <setting name="companyName" serializeAs="String">
                <value>АО Русская Промышленная Компания</value>
            </setting>
            <setting name="daysInWorkWeek" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="hoursInFullWorkDay" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="minutesLunchBreakTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="minutesChangingFullWorkDay" serializeAs="String">
                <value>60</value>
            </setting>
        </TimeWorkTracking.Properties.Settings>
    </userSettings>
</configuration>
